<div class="row service-nav">
    <div class="col-sm-2 col-sm-offset-2">
        <h4>Service</h4>
    </div>
    <div class="col-sm-2 col-sm-offset-5 text-center">
        <h5>Home > service</h5>
    </div>
</div>

<div class="row service">
    <div class="text-center">
        <h2>Our Service</h2>
        <p>
            <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fcnzbl4t11j306w00fgld.jpg" alt="crow">
        </p>
    </div>
    <br>

    <div>
        <div class="col-sm-3 col-sm-offset-1">
            <ul class="list-unstyled">
                <li class="full-grooming">
                    <h4 class="pull-right"><%= link_to("Full Grooming", service_path(1)) %>
                        <span class="icon"><img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcokzx4gatj302q02smx1.jpg" alt="icon-scissors"></span>
                    </h4>

                    <p class="pull-right">Your pet is in good hands with us! Let your favorite get the best care in our center.</p>
                </li>
                <li class="bath">
                    <h4 class="pull-right"><%= link_to("Bath & Dry", service_path(2)) %>
                        <span class="icon"><img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcol1xnb5ej302s02sjr9.jpg" alt="icon-bath"></span>
                    </h4>
                    <p class="pull-right">We use a big range of shampoos for all different coat types and breeds</p>
                </li>
            </ul>
        </div>

        <div class="col-sm-4 text-center">
            <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fcok7uawv8j308z0chtb7.jpg" alt="pet1">
        </div>

        <div class="col-sm-3">
            <ul class="list-unstyled">
                <li class="styling">
                    <h4 class="pull-left">
                        <span class="icon"><img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcol5oimuwj302s02smx1.jpg" alt="icon-styling"></span><%= link_to("Styling", service_path(3)) %>
                    </h4>
                    <p class="pull-left">Our team of pet hair stylists is happy to make your animal look pretty and happy.
                    </p>
                </li>
                <li class="medical">
                    <h4 class="pull-left">
                        <span class="icon"><img src="https://ww2.sinaimg.cn/large/006tNbRwgy1fcol9fjfeqj302s02s0sl.jpg" alt="icon-medical"></span><%= link_to("Medical Bath", service_path(4)) %></h4>
                    <p class="pull-left">Bathing in our vet bath, using an appropriate shampoo that is kind to pet’s skin.</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="row bg1">
  <div class="col-sm-12">
    <img src="https://ww1.sinaimg.cn/large/006tNbRwgy1fcomaf6s7pj31hc0eq44h.jpg" alt="bg1" width="100%">
  </div>
</div>



<div class="row package">
    <div class="text-center">
        <h2>Our Packages</h2>
        <p>
            <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fcnzbl4t11j306w00fgld.jpg" alt="crow">
        </p>
    </div>
</div>
