<%= simple_form_for([@blog, @blog.messages.build]) do |f|%>

  <div class="field">
      <%= f.text_area :body, class: "form-control" %>
  </div>
  <br>
  <%= f.submit "Add a comment", class: "btn btn-primary"%>
<% end %>
