<div class="row blog">
    <% @blogs.each do |blog| %>
    	<div class="col-md-8">
      	<h2><%= blog.title %></h2><br>
            <% if blog.image.present? %>
              <%= image_tag(blog.image.medium.url, class: "medium, image_responsive") %>
            <% end %><br>       
        <%= link_to(blog.sketch, blog_path(blog))  %>
        </div>
        	
        
    <% end %>
</div>