<div class="row">
	<div class="col-md-8 blogshow">
		<h2><%= @blog.title %></h2><br>
     		<% if @blog.image.present? %>
        	<%= image_tag(@blog.image.url) %>
     	<% end %><br>       
		<p><%= simple_format(@blog.description)  %></p>
		<h2>Add Comment</h2>

	</div>
	<div class="col-md-2">
		<h2>Categories</h2>
		<% simple_form_for @
	</div>

</div>