
 <!-- Add this css File in head tag-->
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" media="all">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css" rel="stylesheet" media="all">


 <!--
        If you want to change #bootstrap-touch-slider id then you have to change Carousel-indicators and Carousel-Control  #bootstrap-touch-slider slide as well
        Slide effect: slide, fade
        Text Align: slide_style_center, slide_style_left, slide_style_right
        Add Text Animation: https://daneden.github.io/animate.css/
        -->

<div class="row slide">
        <div id="bootstrap-touch-slider" class="carousel bs-slider slide  control-round indicators-line" data-ride="carousel" data-pause="hover" data-interval="5000" >

            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#bootstrap-touch-slider" data-slide-to="0" class="active"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="1"></li>
                <li data-target="#bootstrap-touch-slider" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper For Slides -->
            <div class="carousel-inner" role="listbox">

                <!-- Third Slide -->
                <div class="item active">

                    <!-- Slide Background -->
                    <img src="http://pets-grooming.axiomthemes.com/wp-content/uploads/2016/08/slide2.jpg"  class="slide-image" width="1409" height="725"/>
                    <div class="bs-slider-overlay"></div>

                    <div class="container">
                        <div class="row">
                            <!-- Slide Text Layer -->
                            <div class="slide-text slide_style_left">
                                <h2 data-animation="animated zoomInRight">We Care With Love</h2>
                                <p data-animation="animated fadeInLeft">Best grooming style and care for your cats and dogs of many breeds</p>
                                <a href="#" class="btn btn-default" data-animation="animated fadeInLeft">Pretty Your Pets</a>

                            </div>
                        </div>
                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Second Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="http://pets-grooming.axiomthemes.com/wp-content/uploads/2016/10/home2_sl3.jpg"  class="slide-image" width="1409" height="725"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_left">
                                <h2 data-animation="animated zoomInRight">A Haute Spa Day</h2>
                                <p data-animation="animated fadeInLeft">Full Spa Services to Threat your Pet Right</p>
                                <a href="#" class="btn btn-default" data-animation="animated fadeInLeft">Pretty Your Pets</a>

                    </div>
                </div>
                <!-- End of Slide -->

                <!-- Third Slide -->
                <div class="item">

                    <!-- Slide Background -->
                    <img src="http://pets-grooming.axiomthemes.com/wp-content/uploads/2016/10/home2_sl2.jpg"  class="slide-image" width="1409" height="725"/>
                    <div class="bs-slider-overlay"></div>
                    <!-- Slide Text Layer -->
                    <div class="slide-text slide_style_left">
                                <h2 data-animation="animated zoomInRight">Grooming Salon</h2>
                                <p data-animation="animated fadeInLeft">Academy-Trained Pet Stylists at Your Service</p>
                                <a href="#" class="btn btn-default" data-animation="animated fadeInLeft">Pretty Your Pets</a>
                    </div>
                </div>
                <!-- End of Slide -->


            </div><!-- End of Wrapper For Slides -->

            <!-- Left Control -->
            <a class="left carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="prev">
                <span class="fa fa-angle-left" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>

            <!-- Right Control -->
            <a class="right carousel-control" href="#bootstrap-touch-slider" role="button" data-slide="next">
                <span class="fa fa-angle-right" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

        </div> <!-- End  bootstrap-touch-slider Slider -->
</div>



<div class="row comment">
  <div class="text-center">
      <h2>Our Customers</h2>
      <p>
          <img src="https://ww3.sinaimg.cn/large/006y8lVagy1fcnzbl4t11j306w00fgld.jpg" alt="crow">
      </p>
  </div>
  <br>
    <div class="col-sm-4 text-center">
        <h4 class="text-center">
            <strong>Gia Stevens</strong>
        </h4><br>
        <a href="#demo" data-toggle="collapse">
            <img src="https://ww4.sinaimg.cn/large/006tNbRwgy1fcox7r9kfpj303h03h744.jpg" class="img-circle person" alt="Chania">
        </a>
        <div id="demo" class="collapse">
            <p>Pets Grooming offer an amazing service and I will be sending my dog there again no questions asked. I trust this team and I wouldn’t go anywhere else. Five star grooming and service!</p>

        </div>
    </div>
    <div class="col-sm-4 text-center">
        <h4 class="text-center">
            <strong>John Murphy</strong>
        </h4><br>
        <a href="#demo2" data-toggle="collapse">
            <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcox7p92uaj303h03h744.jpg" class="img-circle person" alt="Chania">
        </a>
        <div id="demo2" class="collapse">
            <p>You are absolutely amazing! We are happy we found someone that can groom our pets the right way and the way we want they to be groomed. Thanks so much to you guys.</p>

        </div>
    </div>
    <div class="col-sm-4 text-center">
        <h4 class="text-center">
            <strong>Dana Hubbard</strong>
        </h4><br>
        <a href="#demo3" data-toggle="collapse">
            <img src="https://ww3.sinaimg.cn/large/006tNbRwgy1fcox7mcsksj303h03hdfo.jpg" class="img-circle person" alt="Flower">
        </a>
        <div id="demo3" class="collapse">
            <p>You are absolutely amazing! We are happy we found someone that can groom our pets the right way and the way we want they to be groomed. Thanks so much to you guys.</p>

        </div>
    </div>
</div>
