// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blog h2 {
	font-family: "Comfortaa",cursive;
    font-size: 3em;
    font-weight: 700;
    line-height: 1.3em;
    margin-top: 0.6667em;
    margin-bottom: 1.3em;
}