// Place all the styles related to the blogs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.blogshow {
	margin-left: 150px;
	margin-top: 30px;
	width: 1000px;
}

.blogindex {
	margin-left: 150px;
	margin-top: 20px;
}

.blogindex span {
	margin-top: 0;
	padding-top: 0;
}
.blogtitle {
	color: #888;
	margin-bottom: 5px;
}
.blogtitle:hover {
	text-decoration: none;
	color: #F6AB4A;
}
.blogindex p {
	font-size: 2em;
}

