// Place all the styles related to the services controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.service-nav {
  background-color: #f7f3e7;
  padding: 8px;
}
.full-grooming {
  padding-bottom: 150px;
  padding-top: 50px;
  padding-left: 100px;
}

.bath {
  padding-left: 100px;
  padding-top: 50px;
}

.styling {
  padding-bottom: 150px;
  padding-top: 50px;
  padding-right: 100px;
}

.medical {
  padding-right: 90px;
  padding-top: 50px;
}
.icon img {
  height: 50px;
  width: 50px;
}






p {
  font-family: Arial, Helvetica, sans-serif !important;
}

.service {
  padding: 70px;
}

.package {
  padding: 80px;
}


.panel {
      border: 1px solid #f4511e;
      border-radius:0 !important;
      transition: box-shadow 0.5s;
  }
.panel:hover {
      box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
